# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.devcontainer

# Environment variables - CRÍTICO NO VERSIONAR
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Database
*.db
*.sqlite
*.sqlite3

# Reportes generados
REPORTES/
tests/

# Temporary files
*.tmp
*.temp
.cache/
ejemplos/
wslenv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Archivos específicos
beta.py

# OS
Thumbs.db
